.venv/
data/
dot.env
tracked_*/
.DS_Store
optical_flow/
output/
__pycache__/
__init__.py

output_*.zip
annotations.duckdb
annotations/
log/
server_state/
client_cache/
.tmp/
ios/Goobusters/Frameworks/
